.container {
  width: 100%;
  height: 100%;
}
.imageContainer {
  float: left;
  width: 40%;
  background-color: blueviolet;
  height: 100%;
}

.imageContainer img {
  background-size: cover;
  height: 100%;
  width: 100%;
}
.detailContainer {
  float: left;
  width: 60%;
  height: 100%;
  margin-top: -37px;
}
.typeTitle {
  margin: 0px 0px 0px 15px;
}
.typeBody {
  height: 260px;
  overflow-y: auto;
  margin: 10px 0px 10px 15px;
}
.date {
  color: gray;
  font-weight: lighter;
}
.createdBy {
  color: gray;
  font-weight: lighter;
  text-align: right;
}

.material-icons {
  // vertical-align: middle;
  display: inline-flex;
  vertical-align: middle;
}

.text {
  text-align: justify !important;
}
.text-color {
  color: #000000c4;
}

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 0.5s ease-in-out;
  color: white;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -44px;
  right: -44px;
  background-color: #fc4c17;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}
