<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<div class="container">
    <div class="imageContainer">
        <img [src]='data?.multimedia[0]?.url?data?.multimedia[0]?.url:defaultImage' />
    </div>
    <div class="detailContainer">
        <div class="typeTitle">
            <div class="mat-title text">{{data?.title}}</div>
            <p class="date">
                <mat-icon>timer</mat-icon> {{data?.published_date | date :'short'}}
            </p>
        </div>
        <mat-divider></mat-divider>
        <div class="typeBody">
            <p class="mat-body-2 text text-color">{{data?.abstract}}</p><br>
            <p class="createdBy">[{{data?.byline}}]</p>
        </div>
    </div>
</div>