
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div id="container">
      <mat-toolbar class="toolbar" >
        <mat-toolbar-row style="height: 120px; border-bottom: 1px solid crimson;">

          <span class="spacer"></span>
          <div class="topnav">
            <a [routerLink]="['/']" [routerLinkActive]="['active']"
              >Home</a
            >
            <a [routerLink]="['/orders']" [routerLinkActive]="['active']">World</a>
            <a [routerLink]="['/customer']" [routerLinkActive]="['active']"
              >US</a
            >
            <a [routerLink]="['/maps']" [routerLinkActive]="['active']">Science</a>
            <a [routerLink]="['/maps']" [routerLinkActive]="['active']">Arts</a>
          </div>
          <span class="spacer"></span>
    
         
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    
<router-outlet></router-outlet>