.spacer {
    flex: 1;
  }
  .toolbarOld {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid crimson;
    z-index: 2;
  }
  
  .toolbarOld img {
    // margin: 0 16px;
    margin-left: 16px;
  }
  
  .toolbarOld #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbarOld #twitter-logo:hover {
    opacity: 0.8;
  }
  
  .topnav {
    background-color: #4caf50;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 08px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 150px;
    border-right: 1px solid white;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(196, 23, 23);
    color: white;
  }
  
  .footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d82121;
    color: #13a50e;
  }
  
  .footer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 12.5px;
    font-weight: bold;
  }
  
  
  //new added
  #container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .card {
    height: calc(100vh - 85px);
    padding: 0 !important;
    overflow-y: auto;
  }
  .card-auth {
    height: calc(120vh - 85px);
    padding: 0 !important;
    overflow-y: auto;
  }
  
  .mat-toolbar-multiple-rows {
    min-height: unset;
  }
  
  .mat-toolbar-row {
    height: 45px;
  }
  
  
  
  
  
  