.spacer {
    flex: 1;
  }
  
  .topnav {
    background-color: #4caf50;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 08px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 150px;
    border-right: 1px solid white;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(196, 23, 23);
    color: white;
  }
  

  
  
  //new added
  #container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  
  // .mat-toolbar-multiple-rows {
  //   min-height: unset;
  // }
  
  // .mat-toolbar-row {
  //   height: 45px;
  // }
  
  .example-card {
    max-width: 250px;
    overflow-y: auto;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .tab{
    margin-top: 130px;
  }
  
  
  
  .tt{
    margin-bottom: 10px !important;
  }
  