
.example-spacer {
    flex: 1 1 auto;
  }
  
  
  .app-toolbar {
    position: fixed;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000;
  }