<p>
    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>rss_feed</mat-icon>
        </button>
        <span>News Feed</span>
        <span class="example-spacer"></span>
        <button routerLink='/home' mat-button [routerLinkActive]="['active']">
            Home
        </button>
        <button routerLink='/world' mat-button [routerLinkActive]="['active']">
            World
        </button>
        <button routerLink='/us' mat-button [routerLinkActive]="['active']">
            US
        </button>
        <button routerLink='/science' mat-button [routerLinkActive]="['active']">
            Science
        </button>
        <button routerLink='/arts' mat-button [routerLinkActive]="['active']">
            Arts
        </button>
    </mat-toolbar>
</p>